@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Belleza&display=swap');

body {
    background-color: #F9FAFC;
}

.brand {
    font-family: 'Belleza','Akaya Telivigala', Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background: #4b6b8c;
    /* background-color: #F9FAFC; */
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #F7D8B7;
    border-radius: 0 20px 0 0;
    padding-right: 10px;
}
.logo {
    margin: 0 auto;
    max-width: 600px;
}
.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}
.navbar {
    border-bottom: 1px solid rgb(243, 232, 232);
}
.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 5%;
    margin-left: 5%;
    
}
.title-colors {
    background-color: #C6AE94;
}

.post-subtitle {
    margin-left: 5%;
    color: rgb(22, 21, 21);
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.comments {
    margin: 0

}
.comments:nth-child(even) {
    background-color: cornsilk;
}
.comments > :first-child {
    margin:0;    
}



.few-good {
    margin: 0 auto;
    
}

.question-form {

    max-width: 80%;
    margin: 0 auto;

}

.app-card {
    background-color: rgb(205, 182, 157);
    margin-top: 20px;
    margin-bottom: 10px;
}
.card-body {
    background-color: #F9EBDC;
    padding-bottom: 0;
}
.card-title,.card-text, .card-body, .reactions, .author {
    color: #9f5455;
}
.card-blog-detail {
    background-color: white;
}
.content-text {
    font-size: 1.5rem;
    text-align: center;
}

/* For small screens size from 650px wide and smaller */

@media screen and (max-width: 650px) {
    .logo {
        visibility: collapse;
    }

}