{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<section class=" container d-flex flex-column justify-content-start min-vh-100 ">
    <div class="row">
        <div class="col">
            <!-- title and subtitle -->
            <h1 class="text-white text-center">Current Bookings</h1>
            <p class="text-white text-center">Hello <strong id="current-user">{{ user }}</strong>, these are your
                bookings</p>

            <div class="row">
                {% if user == request.user %}
                {% for post in bookings %}

                <!-- for each booking new card created -->
                <div class="col-md-4">
                    <div class="card app-card border p-3">
                        {% if post.user == request.user %}
                        <p> <strong>Name:</strong> {{post.name}} </p>
                        <p><strong>Date:</strong> {{post.appointment_time }}</p>
                        <p><strong>Time:</strong> {{post.get_slots_display }}</p>
                        <p><strong>Appointment:</strong> {{post.get_appointment_type_display }}</p>
                        <p><strong>Confirmed:</strong> {% if post.is_booked %}
                            <i class="fa-solid fa-circle-check text-success"></i>
                            {% else %}
                            <i class="fa-solid fa-circle-xmark text-danger"></i>
                            {% endif %}
                        </p>
                        <p> <strong>Edit:</strong> <a href="{% url 'edit_booking' post.id %}"><i
                                    class="fa-sharp fa-solid fa-pen-to-square "></i></a></p>
                        <p><strong>Delete:</strong> <a href="{% url 'delete_booking' post.id %}"><i
                                    class="fa-solid fa-trash"></i></a></p>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% if user.is_authenticated %}
            <form action="" method="POST">
                {% csrf_token %}
                {{ form}}
                <a class="btn btn-primary" href="{% url 'new_booking' %}">New Booking</a>
                {% endif %}
                {% endif %}
            </form>


        </div>
</section>
{% endblock %}