{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}

<main class="container">
    <div class="text-white">
        <div class="row d-block">
            {% if user.is_authenticated %}
            <h2 class="text-center mt-3">Delete appointment</h2>
            <div class="d-flex justify-content-center"><h4 class="text-center">Are you sure you want to delete your appointment?</h4></div>
<form action="{% url 'delete_booking' post.id %}" method="POST">
    {% csrf_token %}
    
    {{ form | crispy }}
    
    <div class="d-flex justify-content-center">
    <a href="{% url 'booking' %}"  name="cancel"  class="btn btn-success">Cancel</a>
    <button type="submit"  class="btn btn-danger">Delete your appointment</button></div>
</div>

</form>

{% endif %}

</div></main>
{% endblock content %}