{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}

<main class="container">
    <div class="row justify-content-center text-white">
        <div class="col-sm-8">
            {% if user.is_authenticated %}
            <h2 class="text-center mt-3">Edit your information</h2>
<form action="" method="POST">
    {% csrf_token %}
    
    {{ form | crispy }}
    <a href="{% url 'booking' %}"  name="cancel"  class="btn btn-success">Cancel</a>
 <button type="submit" name="submit"  class="btn btn-primary">Submit Appointment Request</button>
</form>

{% endif %}
</div>
</div></main>
{% endblock content %}