{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<div class="">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-7 title-colors">
                <!-- Post title -->
                <h1 class="post-title">
                    {{ blog.title }}
                </h1>
                <!-- Post author -->
                <p class="post-subtitle"> By {{ blog.get_barber_display }} | {{ blog.created_on }} </p>
            </div>
            <div class="d-md-block col-md-7">
                <!-- The featured image URL goes in the src attribute -->

                <img class="img-fluid" src="{{ blog.post_image.url }}" width="100%">

            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-blog-detail text-center d-md-block col-md-7">
                <!-- The post content goes inside the content-text. -->
                {{ blog.content | safe }}
                <div class="row justify-content-center m-2">

                    <div class="col-3 text-center">

                        <strong>
                            {% if user.is_authenticated %}
                            <form class="" action="{% url 'blog_upvote' blog.slug %}" method="POST">
                                {% csrf_token %}
                                {% if upvoted %}
                                <button type="submit" name="blog_id" value="{{blog.slug}}" class="btn-like "><i
                                        class="fa-solid text-danger fa-scissors"></i></button>
                                {% else %}
                                <button type="submit" name="blog_id" value="{{blog.slug}}" class="btn-like"><i
                                        class="fa-solid text-warning fa-hand-scissors"></i></button>


                                {% endif %}
                                {% else %}
                                <span class="text-secondary"><i class="fa-solid fa-scissors"></i></span>
                                {% endif %}
                                <!-- number of upvotes -->
                                <span class="text-secondary">{{ blog.number_of_upvotes }} </span>
                            </form>
                        </strong>
                    </div>
                    <div class="col-3 text-center">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary">
                            {% if blog.comments.count <= 1 %} <i class="far fa-comment text-primary"></i>
                                {% else %}
                                <i class="far fa-comments text-primary"></i>
                                {% endif %}
                                <!-- total number of comments -->
                                {{total_comments}}
                        </strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                <!-- for loop of the comments -->
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        <!-- comment.name -->
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            <!-- created_on -->
                            {{ comment.created_on | date }}
                        </span> wrote:
                    </p>
                    <!-- The body of the comment -->
                    {{ comment.body | linebreaks }}
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
        </div>
        <div class="col-md-8 card mb-4  mt-3 ">
            <div class="card-body">

                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is being reviewed.
                </div>
                {% else %}
                {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ post_comment | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% else %}
                <h3 class="text-center align-center">As a registered user you can leave a comment. <a
                        href="{% url 'account_signup'%}">Sign up.</a></h3>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}